#background-video {
    position: fixed; /* Keep video in place when scrolling */
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    object-fit: cover; /* Make sure the video covers the entire area */
    z-index: -1; /* Keep the video behind other content */
    margin: 0;
    padding: 0;
}

/* Ensure no scrolling and remove any unwanted space */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
.textbox {
    padding: 0.1em 1em;
    font-size: 1em;
    text-align: center;
    border: 1em solid transparent;
    border-radius: 2em;
    outline: none;
    background-color: rgba(38, 38, 73, 0.597);
    color: white;
    position: relative;
    z-index: 0;
    box-shadow: 0 0 3em rgba(255, 255, 255, 0.5);
    animation: moving-light 3s infinite linear;
    height: 60vh !important;
    margin-right: 10%;
    margin-left:10%;
    margin-top: 17vh;
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-shadow: 2px 2px 1px rgba(139, 24, 124, 0.708);
    line-height: 1.8em;
}
